
FirstREST/bin/FirstREST\.dll

FirstREST/bin/FirstREST\.pdb

FirstREST/FirstREST\.v12\.suo

FirstREST/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

FirstREST/obj/Debug/FirstREST\.csproj\.FileListAbsolute\.txt

FirstREST/obj/Debug/FirstREST\.csprojResolveAssemblyReference\.cache

FirstREST/obj/Debug/FirstREST\.dll

FirstREST/obj/Debug/FirstREST\.pdb
