/* página principal
----------------------------------------------------------*/
.vl {
    border-left: 1px solid black;
    height: 700px;
}


/* página principal
----------------------------------------------------------*/


/* página do artigo
----------------------------------------------------------*/

.vlap{
    border-left: 1px solid black;
    height: 400px;
}

#obs-text{
    text-align: justify;
}

.article-page{
    text-align:center;
    margin-bottom:5%;
}

.article-page img{
    width:60%;
    margin-left: 5%;
}

#title-art-page{
    font-weight: bold;
}

.preco-artigo h2{
    font-weight: bold;
    margin-right: 15%;
}
.preco-artigo h4{
    margin-top: 15%;
    font-weight: bold;
}

.preco-artigo select{
    font-weight: normal;
    margin-left:15%;
}

.preco-artigo input{
    font-weight: normal;
    margin-left:20.5%;
    width: 15%;
}

.preco-artigo button{
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
}

.hl{
    margin-top: 3%;
    border-bottom: 1px solid black;
    width: 100%;
}

.related h2{
    margin-left: 5%;
    margin-bottom: 3%;
    font-weight: bold;
}
/* página do artigo
----------------------------------------------------------*/




/* página de artigos
----------------------------------------------------------*/
.single-article{
   
    text-align:center;
    margin-bottom:5%;
}

.single-article img{
    width:50%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}


.single-article p{
    max-height:30px;
    min-height:30px;
}

.single-article h4{
    max-height:5px;
    margin-bottom:5%;
}

.single-article h5{
    max-height:2px;
    margin-bottom:20%;
}



/* páginas de artigos
----------------------------------------------------------*/


/* página de resultados
----------------------------------------------------------*/
.item-row-result{
    text-align:left;  
  
}

.item-row-result div{
   max-height:150px;
   min-height:150px;
}

.item-row-result h4{
   
    position: absolute;
    bottom: 0;
   

}
.item-row-result h3, .item-row-result p, .item-row-result h2, .item-row-result h4{
    margin:0;
}

.item-row-result div:last-child{
    text-align:right;
}

.item-row-result #warehouse-select{
    margin-top:10px;
    width:100%;
}


.item-row-result select:last-child{
    margin-top:10px;
    width:100%;
}

.item-row-result img{
     height:150px;
     width:120px;
    margin-left: auto;
	margin-right: auto;
	
}
/* página de resultados
----------------------------------------------------------*/


/* página do cliente
----------------------------------------------------------*/

.perfil h2{
    font-weight: bold;
}

.single-order{
    margin-bottom: 7%;
}

.single-order button{
    width: 20%;
}

/* página do cliente
----------------------------------------------------------*/