/* página principal
----------------------------------------------------------*/
.vl {
    border-left: 1px solid black;
    height: 700px;
}


/* página principal
----------------------------------------------------------*/

/* página do carrinho de compras
----------------------------------------------------------*/
/* procurar por categoria

.sc-page{
    text-align:left;
    margin-bottom:5%;
    width: 10% !important;
}

.sc-page tr.spacing>td{
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid black;
}

.sc-page img{
    width:150px;
    padding-right: 50px;
}

.sc-page .after-title{
    padding-right: 100px;
}

.sc-page .desc{
    width: 300px;
    font-weight: bold;
}

.sc-page .sc-title{
    padding-right: 50px;
}

.sc-page .sc-total{
    padding-left: 150px;
}

.sc-page .sc-total-price{
    width: 200px;
}

.checkout-btn{
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 2%;
}

    ----------------------------------------------------------*/

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result #cover{height:150px;}
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }



/* página do artigo
----------------------------------------------------------*/

.vlap{
    border-left: 1px solid black;
    height: 400px;
}

#obs-text{
    text-align: justify;
}

.article-page{
    text-align:center;
    margin-bottom:5%;
}

.article-page img{
    width:60%;
    margin-left: 5%;
}

#title-art-page{
    font-weight: bold;
}

.preco-artigo h2{
    font-weight: bold;
    margin-right: 15%;
}
.preco-artigo h4{
    margin-top: 15%;
    font-weight: bold;
}

.preco-artigo select{
    font-weight: normal;
    margin-left:15%;
}

.preco-artigo input{
    font-weight: normal;
    margin-left:20.5%;
    width: 15%;
}

.preco-artigo button{
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
}

.hl{
    margin-top: 3%;
    border-bottom: 1px solid black;
    width: 100%;
}

.related h2{
    margin-left: 5%;
    margin-bottom: 3%;
    font-weight: bold;
}
/* página do artigo
----------------------------------------------------------*/




/* página de artigos
----------------------------------------------------------*/
.single-article{
   
    text-align:center;
    margin-bottom:5%;
}

.single-article img{
    width:50%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}


.single-article p{
    max-height:30px;
    min-height:30px;
}

.single-article h4{
    max-height:5px;
    margin-bottom:5%;
}

.single-article h5{
    max-height:2px;
    margin-bottom:20%;
}



/* páginas de artigos
----------------------------------------------------------*/


/* página de resultados
----------------------------------------------------------*/
.item-row-result{
    text-align:left;  
  
}

.item-row-result div{
   max-height:150px;
   min-height:150px;
}

.item-row-result h4{
   
    position: absolute;
    bottom: 0;
   

}
.item-row-result h3, .item-row-result p, .item-row-result h2, .item-row-result h4{
    margin:0;
}

.item-row-result div:last-child{
    text-align:right;
}

.item-row-result #warehouse-select{
    margin-top:10px;
    width:100%;
}


.item-row-result select:last-child{
    margin-top:10px;
    width:100%;
}

.item-row-result img{
     height:150px;
     width:120px;
    margin-left: auto;
	margin-right: auto;
	
}
/* página de resultados
----------------------------------------------------------*/


/* página do cliente
----------------------------------------------------------*/

.perfil h2{
    font-weight: bold;
}

.single-order{
    margin-bottom: 7%;
}

.single-order button{
    width: 20%;
}

/* página do cliente
----------------------------------------------------------*/