<div class="container">
    <div class="col-xs-2">
        <h2>Category</h2>
        <p><a href="#">Category 1</a></p>
        <p><a href="#">Category 2</a></p>
        <p><a href="#">Category 3</a></p>
        <p><a href="#">Category 4</a></p>
        <p><a href="#">Category 5</a></p>
        <p><a href="#">Category 6</a></p>
        <p><a href="#">Category 7</a></p>   
    </div>
    <div class="col-xs-1 vl"></div>
    <div class="col-xs-9">
        <h2>Bestselling Books</h2>
    </div>



</div>
