@model FirstREST.Models.User

@{
    ViewBag.Title = "Login";    
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <div class="container">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-sx-4 col-xs-offset-5">
                        <span style="color:red">@ViewBag.errorMessage</span>
                    </div>
                    <!-- Form Name -->
                    <legend>Login</legend>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="">Nome de Utilizador</label>
                        <div class="col-xs-3">
                            <input id="" name="username" type="text" placeholder="" class="form-control input-xs">

                        </div>
                    </div>
                    <!-- Password input-->
                    <div class="form-group row">
                        <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="">Palavra-passe</label>
                        <div class="col-xs-3">
                            <input id="" name="password" type="password" placeholder="" class="form-control input-xs">

                        </div>
                    </div>
                    <!-- Button (Double) -->
                    <div class="form-group row">
                        <div class="col-xs-3 col-xs-offset-5">
                            <button name="" class="btn btn-warning">Login</button>
                            <button name="" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
}
