@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{@Html.AntiForgeryToken()
    <div class="container">
        <span style="color:red">@ViewBag.errorMessage</span>
        <form id="register_form" class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <legend>Registar</legend>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="full_name">Nome Completo</label>
                    <div class="col-xs-3">
                        <input name="full_name" type="text" placeholder="Nome Completo" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="abrev">Nome Abrev.</label>
                    <div class="col-xs-3">
                        <input name="abrev" type="text" placeholder="Nome abreviado" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="username">Nome de Utilizador</label>
                    <div class="col-xs-3">
                        <input name="username" type="text" placeholder="Nome de Utilizador" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="address">Morada</label>
                    <div class="col-xs-3">
                        <input name="address" type="text" placeholder="Morada" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="phone">Número de Telefone</label>
                    <div class="col-xs-3">
                        <input name="phone" type="text" placeholder="Número de Telefone" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="email">Endereço e-mail</label>
                    <div class="col-xs-3">
                        <input name="email" type="email" placeholder="Endereço e-mail" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="nif">Número de Contribuinte</label>
                    <div class="col-xs-3">
                        <input name="nif" type="text" placeholder="Número de Contribuinte" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label style="text-align:right;" class="col-xs-2 col-xs-offset-3 control-label" for="password">Palavra-Passe</label>
                    <div class="col-xs-3">
                        <input name="password" type="password" placeholder="Palavra-Passe" class="form-control input-md">
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group row">
                    <div class="col-xs-3 col-xs-offset-5">
                        <button id="register" name="register" type="submit" class="btn btn-warning">Registar</button>
                        <button id="cancel" name="cancel" class="btn btn-default">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}

