@{
    ViewBag.Title = "artigos";
}

<script>
    function search() {
        window.location.href = "/artigos/ProcuraArtigo/" + $("#search").val() + "/";
    }
</script>


<div class="container">
   

    <div class="row">
        @{foreach (var artigo in ViewBag.artigos)
          {
              <div class="single-article col-xs-3">
                  <img src="~/Images/marinheiro.jpg" />
                  <h4><a href="/artigos/artigopage/@artigo.CodArtigo/">@artigo.CodArtigo - @artigo.precoArtigo €</a></h4>
                  <h5>@artigo.DescArtigo</h5>
                  <button class="btn">Add to Cart</button>
              </div>
              
          }
         }


    </div>



</div>

              
         


   

